{% extends "_layouts/site" %}

{% block content  %}
    <div class="card card-rounded bg-primary">
        <div class="card-body">
            <div class="col-sm-12 text-center">
                <h2 class="text-white upgrade-info mb-0">{{ entry.title }}</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex flex-column">
                <div class="row">
                    {% set thumbnail = entry.safetySigns.one() %}
                    <div class="col-lg-12 mt-3">
                        <section class=" h-100 card card-rounded justify-content-around text-dark ">
                            <div class=" grid-margin d-flex flex-column  stretch-card card-rounded">
{#                                <img class=" rounded-2" src=" {{ thumbnail ? thumbnail.getUrl() : 'https://via.placeholder.com/160x90' }} " alt="Card image cap">#}
                                <div class="card-body">
                                    <p>
                                        {{ entry.safetyDescription }}
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
