{% extends "_layouts/site" %}

{% block content  %}
    <div class="container-fluid">
        <div class="card card-rounded bg-primary mt-4 mt-md-0">
            <div class="card-body">
                <div class="col-sm-12 text-center">
                    <h2 class="text-white upgrade-info mb-0">OeieGlieOei... You are offline...</h2>
                </div>
            </div>
        </div>

        <!-- offline Error Text -->
        <div class="text-center ">
            <h2 class="heading m-5">Check your internet connection and try again</h2>
        </div>
    </div>
{% endblock %}
