{% extends "_layouts/site" %}

{% block content  %}
    {% set location = craft.entries.section('locations') %}

    <div class="row">
        <div class="col-lg-12 d-flex flex-column mt-4">
            <div class="row">
                <div class="col-lg-5">
                    <section class=" card card-rounded justify-content-around text-dark ">
                        <div class=" grid-margin d-flex flex-column  stretch-card card-rounded">
                            <img class="card-img-top rounded-2" src="" alt="Card image cap">
                        </div>
                    </section>
                </div>

                <div class="col-lg-7 " >
                    <section class=" card card-rounded justify-content-around text-dark ">
                        <div class=" grid-margin d-flex flex-column  stretch-card card-rounded">
                            <div class="card-body">
                                <h5 class="card-title">{{ entry.title }}</h5>
                                <p>{{ entry.detailText }}</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    {% set machine = entry.machinesOnLocation %}

    {%for machine in entry.machinesOnLocation %}
        <a href="{{ machine.url }}">{{ machine.title  }}</a>
    {% endfor %}
{% endblock %}
