{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fablablab-webapp </title>
    <!-- import:css -->
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/style.css">
    <!-- icons for on the website -->
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/materialdesignicons.min.css">
    <!-- import:favicon -->
    <link rel="shortcut icon" href="{{ siteUrl }}assets/images/logo-white.png" />
</head>

{% block body %}{% endblock %}

</html>
{% endblock %}.
