{% extends "_layouts/site" %}

{% block content  %}
    {% set machines = craft.entries.section('reportProblem') %}
    <div class="container">
        <div class="card card-rounded bg-primary mt-4 mb-2">
            <div class="card-body">
                <div class="col-sm-12 text-center">
                    <h2 class="text-white upgrade-info mb-0">{{ entry.reportAProblemTitle }}</h2>
                </div>
            </div>
        </div>

        {% set form = craft.freeform.form("reportAProblem", {
            submitClass: "btn btn-primary",
            submissionToken: submissionToken|default(null),
        }) %}

        <div class="card">
            <div class="row align-items-center site-hero-inner justify-content-center p-4">
                {{ form.render() }}
            </div>
        </div>

    </div>

{% endblock %}
